.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/*
 *  Color Scheme Purple
 *
 */
/* Selected text */
::-moz-selection {
  background:#C8BFE7;
  color: #1a1a1a;
  text-shadow: none;
}
::selection {
  background: #C8BFE7;
  color: #1a1a1a;
  text-shadow: none;
}
/*********************/
/* Links */
a {
  color: #800080;
  text-decoration: none;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}
a:active,
.sidebar a:active,
a:focus,
.sidebar a:focus,
a:hover,
.sidebar a:hover {
  color: #4d004d;
  text-decoration: none;
  outline: 0;
}
.loader:after {
  border: solid 1px transparent;
  border-top-color: #C8BFE7;
  border-left-color: #C8BFE7;
}
.tags ul li a {
  border: 1px solid #800080;
}
/* Skin button style */
.btn-color {
color: #ffffff;
  background-color: #C8BFE7;
  border-color: #800080;
}
.btn-color:hover,
.btn-color:focus,
.btn-color:active,
.btn-color.active,
.open .dropdown-toggle.btn-color {
 color: #ffffff;
  background-color: #670066;
  border-color: #670066;
}
.btn-color.btn-outline {
  background-color: transparent;
 color: #ffffff;
}
.btn-color.btn-outline:hover,
.btn-color.btn-outline:focus,
.btn-color.btn-outline:active,
.btn-color.btn-outline.active {
  background-color: #C8BFE7;
 color: #ffffff;
}
a.btn-color {
 color: #ffffff;
}
.btn-color:active,
.btn-color.active,
.open .dropdown-toggle.btn-color {
  background-image: none;
}
.btn-color.disabled,
.btn-color[disabled],
fieldset[disabled] .btn-color,
.btn-color.disabled:hover,
.btn-color[disabled]:hover,
fieldset[disabled] .btn-color:hover,
.btn-color.disabled:focus,
.btn-color[disabled]:focus,
fieldset[disabled] .btn-color:focus,
.btn-color.disabled:active,
.btn-color[disabled]:active,
fieldset[disabled] .btn-color:active,
.btn-color.disabled.active,
.btn-color[disabled].active,
fieldset[disabled] .btn-color.active {
  background-color:#C8BFE7;
  border-color: #800080;
}
/*********************/
/* Skin text and dropcap color style */
.color,
.drop-cap {
  color: #ffffff;
}
/*********************/
.drop-cap.boxed {
  background-color: #C8BFE7;
 color: #1a1a1a;
}
.portfolio-item .overlay-hover {
  background-color: #C8BFE7;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}
.overlay-colored-1,
.overlay-colored-2,
.overlay-colored-3,
.overlay-colored-4,
.overlay-colored-5,
.overlay-colored-6,
.overlay-colored-7,
.overlay-colored-8,
.overlay-colored-9 {
  position: absolute;
  z-index: 1000;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.overlay-colored-1 {
  background-color: rgba(200, 191, 231, 0.2);
}
.overlay-colored-2 {
  background-color: rgba(200, 191, 231, 0.2);
}
.overlay-colored-3 {
  background-color: rgba(200, 191, 231, 0.3);
}
.overlay-colored-4 {
  background-color: rgba(200, 191, 231, 0.4);
}
.overlay-colored-5 {
  background-color: rgba(200, 191, 231, 0.5);
}
.overlay-colored-6 {
  background-color: rgba(200, 191, 231, 0.6);
}
.overlay-colored-7 {
  background-color: rgba(200, 191, 231, 0.7);
}
.overlay-colored-8 {
  background-color: rgba(200, 191, 231, 0.8);
}
.overlay-colored-9 {
  background-color: rgba(200, 191, 231, 0.9);
}
header.open,
header.sticky,
header.fixed-sticky {
  background-color: rgba(200, 191, 231, 0.95);
}
.header .navigation > .nav > li > a:hover,
.header .navigation > .nav > li.active > a,
.nav .open > a {
  color: #1a1a1a;
   background-color:rgba(200, 191, 231, 0.8);
}
.header .dropdown-menu > .active > a,
.header .dropdown-menu > .active > a:hover,
.header .dropdown-menu > .active > a:focus,
.header .dropdown-menu > li > a:hover,
.header .dropdown-menu > li > a:focus {
 color: #1a1a1a;
  background-color:rgba(200, 191, 231, 0.4);
}
nav.filter a.active,
nav.filter a:active,
nav.filter a:focus,
nav.filter a:hover {
  color: #C8BFE7;
  background-color:rgb(128, 128, 128);
}
/* Skin pagination style */
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  border-color: #800080;
  background-color: #C8BFE7;
  color: #1a1a1a;
}
/*********************/
/* Skin background color */
.bg-color {
  background-color: #C8BFE7;
}
/*********************/
/* Skin progress bar style */
.progress-bar-color {
  background-color: #d0dbec;
}
/*********************/
.heading-font {
  color: #1a1a1a;
}
